*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #2f4f4f;
    color: white;
}

header{
    width: 95%;
    margin: auto;
    max-width: 1200px;
    padding: 6vh 2vw 4vh;
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: auto;
    max-width: 1200px;
}

main{
    width: 80vw;
}

aside{
    width: 80vw;
}

.main_header{
    font-size: 1.2rem;
    padding: 4vh 0;
}
@media only screen and (min-width:730px){
    h1{
        font-size: 3.6rem;;
    }
    .main_header{
        font-size: 2.4rem;
        padding-top: 4rem;
    }
}

.main_currency{
    display: flex;
    justify-content: space-around;
    padding: 2vh 0;
    text-align: center;
}

.main-currency-item, .choice-number-of-days-item, .archiveData-currency-item, .archiveData_button{
    background-color:#151516;
    border: none;
    color: wheat;
    padding: 4% 6%;
    cursor: pointer;
    outline: none;
    font-size: .9rem;
    font-weight: bold;
}
@media only screen and (min-width:430px){
    .main-currency-item, .choice-number-of-days-item, .archiveData-currency-item, .archiveData_button{
        padding: 1rem 1.6rem;
    }
}
@media only screen and (min-width:730px){
    .main-currency-item, .choice-number-of-days-item, .archiveData-currency-item, .archiveData_button{
        padding: 1.2rem 2.4rem;
    }
    .main_currency{
        width: 520px;
        margin: auto;
    }
}

.main-currency-item:hover, .choice-number-of-days-item:hover, .archiveData-currency-item:hover, .archiveData_button:hover{
    box-shadow: 0px 0px 8px 0px rgba(245,240,245,0.2);
}

.selected{
    background-color: red;
}

.main_results{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vh 0;
    text-align: left;
    font-size: 1rem;
}
@media only screen and (min-width:430px){
    .main_results{
        width: 72%;
        margin: auto;
    }
}
@media only screen and (min-width:730px){
    .main_results{
        width: 420px;
        margin: auto;
    }
}



.main_results-info{
    display: flex;
    justify-content: space-between;
    padding: .2vh;
}
.main_results h4{
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
}

.main_results span{
    display: inline-block;
    font-weight: bold;
    font-size: 1.2rem;
}

/* ------- svg ------------*/
.ct-label {
    color: wheat;
    font-size: 0.6rem;
    line-height: 1; }

  .ct-point {
     stroke-width: 4px;
     stroke-linecap: round; }

  .ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
      stroke: rgb(150, 0, 0); }

  .ct-line {
    fill: none;
    stroke-width: 2px;
  }

  .ct-chart.ct-perfect-fourth{
      height: 300px ;
  }

  /* ------- */
.choice-number-of-days{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.choice-number-of-days-item{
    font-size: .6rem;
    padding: .5rem .6rem;
    margin: .2vh;
}
@media only screen and (min-width:430px){
    .choice-number-of-days-item{
        padding: .8rem 1rem;
        font-size: .8rem;
    }
}
@media only screen and (min-width:730px){
    .choice-number-of-days-item{
        padding: 1rem 1.6rem;
    }
}

.archiveData{
    padding-top: 4rem;
}
@media only screen and (min-width: 480px){
    h2{
        font-size: 2.2rem;
        padding: 2rem 0 1rem;
    }
}

.archiveData_info{
    padding: 1.6rem 0;
}

.archiveData_currency{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.archiveData-currency-item{
    padding: 4% 6%;
}
@media only screen and (min-width:430px){
    .archiveData-currency-item{
        padding: 1rem 1.6rem;
    }
}
@media only screen and (min-width:730px){
    .archiveData-currency-item{
        padding: 1.4rem 2.4rem;
    }
    .archiveData_currency{
        max-width: 520px;
        margin: auto;
    }
}

.archiveData_dateInput{
   flex-basis: 33%;
}
@media only screen and (min-width:730px){
    .archiveData_dateInput{
        flex-basis: 25%;
     }
     .archiveData_dateInputs{
         width: 620px;
         margin: auto;
     }
}

.archiveData_dateInputs{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.archiveData_dateInput-button{
    flex-basis: 100%;
    margin: auto;
}
@media only screen and (min-width:730px){
    .archiveData_dateInput-button{
        flex-basis: 25%;
     }
}

.archiveData_button{
    width: 80%;
    margin: 1rem;
    font-size: .8rem;
}

label{
    display: block;
    font-weight: normal;
    padding-bottom: .4rem;
    font-size: .8rem;
}

input{
    text-align: center;
    height: 2rem;
    width: 90%;
    outline: none;
    border: none;
    font-size: 1.1rem;
}

h3{
    font-size: 1rem;
    padding: 1rem 0;
}

.archiveData_results{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
@media only screen and (min-width:480px){
    .archiveData_results{
    width: 400px;
    margin: auto;
    padding-bottom: 2rem;
    }
}

.archiveData_results-item{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: .2rem
}

h4{
    font-size: .8rem;
    font-weight: normal;
}

.archiveData_results-item span{
    font-size: 1.2rem;
    font-weight: bold;
}

.archiveData-currency-error-msg{
    display: none;
    color: red;
    padding-bottom: .8rem;
}

.archiveData_errorMsg{
    display: none;
    color: red;
    font-size: .8rem;
}

.archiveData_results-errorMsg{
    display: none;
    color: red;
    font-size: .8rem;
}

aside{
    padding: 4rem 0;
}
h5{
    padding: .6rem 0;
}

.aside_table{
    width: 100%;
    max-width: 460px;
    font-size: .8rem;
}

 tr{
     line-height: 1.6rem;
 }


 @media only screen and (min-width:1024px){
    main{
        width: 67%;
        padding-right: 3%;
    }
    aside{
        width:30%;
    }
    section {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}